body {
    /*background-color: #8ecae6;*/
    background-image: url('https://images.unsplash.com/photo-1668853853625-d38dbc599001?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.balloon-word {
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
  justify-content: center;
}

.balloon-letter {
  display: inline-block !important;
  width: 80px;                    
  height: auto;                     
  margin: 0 -7px;                  
  transition: transform 0.25s ease; 
}

.letter-p { transform: translateY(5px); }    
.letter-a { transform: translateY(-8px); }  
.letter-r { transform: translateY(0px); }   
.letter-t { transform: translateY(12px); }  
.letter-y { transform: translateY(-4px); }   


.balloon-letter:hover {
  transform: translateY(-15px);
}




.button {
    border: .5px solid #0b132b;
    background-color: #0b132b; 
    border-radius: 8px;
    font-style: italic;
    color: #e0e7ff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;

/*animation color change, used in WK 1*/
    transition: background-color 0.5s ease-in; 
}

/*when mouse hovers over button*/
.button:hover {
  background-color: DarkGoldenRod;
}

#city-input {
  border-radius: 8px;
  border: .5px solid #0b132b;     
  padding: 8px 8px;          
  outline: none;             
}

.project-heading {
    text-align: center;
    align-items: center;
    margin-top: 80px 0;
}

.project-container {
    align-items: center;
    display: flex;
    flex-direction: column;

}

.input-row {
   margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
}

.project-sub-heading {
    font-size: 18px;
    margin: 0;
    white-space: nowrap; 
}

.project-entry {
    display: flex;
    gap: 8px;
    flex: 1;
}

.project-disclaimer {
    text-align: center;
    font-size: 14px;
    color: #BB3B0E;
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 20px;
}


.vendor-info {
    text-align: center;
    align-items: center;
}

.vendor-name {
    text-align: center;
    align-items: center;
}

.vendor-product {
    text-align: center;
    align-items: center;
}

.vendor-address {
    text-align: center;
    align-items: center;

}


